
<section class="section-3"> 
  <div class="container">
    <div class="section-3__wrap"> 
      <div class="section-3__img">
         <img src="assets/img/section-3.img.png" alt=""></div>
      <div class="section-3__content"> 
        <h2 class="section-3__title">Thêm Một Bạn</h2>
        <h3 class="section-3__sub-title">Thêm Ngàn Niềm Vui!</h3>
        <div class="section-3__desc">Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!</div>
        <div class="section-3__sub"> <a class="button" href="">Giới Thiệu <i class="fa-regular fa-circle-play"></i></a><a class="button button--primiry">Khám Phá Ngay</a></div>
      </div>
    </div>
  </div>
</section>