$color-primary: #003459;

$color-text-dark: #00171f;

$color-text-light: #667579;

$color-blue: #00A7E7;

$font: 'Be Vietnam Pro', sans-serif;

$width: (1199.98px,960px),(991.98px,720px),(767.98px,540px),(575.98px,100%);
